body {
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat Alternates", sans-serif;
  color: #aaa;
}
input:focus,
textarea:focus {
  outline: none;
}
a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
}
a:hover,
nav button:hover {
  color: #bbb;
}

/* Form Styles */
form {
  max-width: 40%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.913);
  box-shadow: #23a021 0rem 0rem 2.325rem 0.025rem;
  border-radius: 1.25rem;
  margin-top: 2.625rem;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.0625rem;
}
label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}
form button {
  width: 100%;
}
input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 0.0625rem solid;
  padding: 0.3em 0;
  background-color: transparent;
  margin-bottom: 0.8125rem;
}
.btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 0.625rem;
  width: 7.5rem;
  font-weight: bold;
  border: none;
  padding: 0.625rem 0.9375rem;
  font-size: 1em;
  display: block;
  margin: 0 auto;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  color: #000;
  border-radius: 0;
  border: 0.0625rem solid #000;
  padding: 0.4375rem 1.875rem;
}

.btn:hover {
  background-color: #0f730c;
  color: #fff;
}

.btn.btn.btn-outline:hover {
  background-color: #000;
}
.btn.btn-danger:hover {
  background-color: #dc3545;
}
button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
}
